[Unit]
Description=refresh fencers every 24 hours

[Service]
TimeoutStartSec=0
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=-/usr/bin/docker pull goller/fencein
ExecStart=/usr/bin/bash -c \
 "/usr/bin/docker run \
 --name %p python3 refresh_fencers.py $(etcdctl get /services/db/fencein/auth)"
ExecStop= /usr/bin/docker stop -t 3 %p
