[Unit]
Description=search usfencing for members

[Service]
TimeoutStartSec=0
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=-/usr/bin/docker pull goller/fencein
ExecStart=/usr/bin/bash -c \
 "/usr/bin/docker run \
 --name %p python3 search_fencing.py $(etcdctl get /services/db/fencein/auth)"
ExecStop= /usr/bin/docker stop -t 3 %p
